/*
	App by FreeHTML5.co
	Twitter: http://twitter.com/fh5co
	URL: http://freehtml5.co
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", "sans-serif"; }

html {
  overflow-x: hidden; }

.download-btn-first {
  background: #f7f7f7; }

.download-btn-first:hover {
  background: #234197;
  color: #fff !important; }

.features-btn-first {
  font-weight: 700; }

.features-btn-first:hover {
  background: #f7f7f7 !important;
  color: #234197 !important; }

#fh5co-hero-wrapper {
  height: 800px;
  width: 100%;
  background: url("../img/banner-bg.jpg") no-repeat center;
  border-radius: 0 0 50% 50% / 4%; }

.main-navbar-nav .navbar-brand {
  font-size: 38px;
  letter-spacing: 4px;
  position: relative;
  top: -5px;
  font-weight: 500; }

.main-navbar-nav {
  color: #fff !important; }

.main-navbar-nav li {
  color: #fff;
  opacity: .7; }

.main-navbar-nav .navbar-nav .nav-item a:hover {
  color: #234197 !important;
  -webkit-transition: all .33s ease;
  transition: all .33s ease; }

.main-navbar-nav .active {
  color: #fff !important;
  opacity: 1 !important; }

.main-navbar-nav a {
  color: #fff !important; }

.main-navbar-nav .nav-link {
  opacity: 1 !important;
  margin: 0 35px;
  font-size: 14.5px;
  font-weight: 500; }

.social-icons-header i {
  margin: 15px;
  font-size: 20px; }

.social-icons-header a:hover i {
  opacity: .6;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }

.fh5co-hero-inner {
  margin-top: 110px;
  position: relative; }

.fh5co-hero-inner > h1 {
  color: #fff;
  font-weight: 300;
  font-size: 55px;
  letter-spacing: 2px; }

.fh5co-hero-inner > p {
  width: 400px;
  font-size: 14px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 2em; }

.fh5co-hero-inner .download-btn-first {
  font-size: 15px;
  padding: 10px 15px;
  font-weight: 700;
  color: #234197; }

.fh5co-hero-inner .features-btn-first {
  font-size: 15px;
  padding: 8px 13px;
  font-weight: 400;
  background: #234197;
  color: #fff;
  margin-left: 10px; }

.fh5co-hero-inner .fh5co-hero-smartphone {
  position: absolute;
  right: 0px;
  top: 120px;
  height: 650px; }

/* ==========================================================================================================
										ADVANTAGES
   ========================================================================================================== */
.fh5co-advantages-outer {
  padding: 70px;
  height: auto;
  width: 100%;
  overflow: hidden; }

.fh5co-advantages-outer .span-perfect {
  color: #034072;
  text-transform: uppercase;
  font-size: 27px;
  letter-spacing: 1px; }

.fh5co-advantages-outer .span-features {
  text-transform: uppercase;
  font-size: 42px; }

.fh5co-advantages-outer .second-title {
  text-align: center;
  display: block; }

.fh5co-advantages-outer small {
  display: block;
  text-align: center; }

.fh5co-advantages-outer .fh5co-advantages-grid-columns {
  margin-top: 120px; }

.fh5co-advantages-outer .fh5co-advantages-grid-columns .col-sm-4 .grid-image {
  width: 30%;
  float: left;
  padding-right: 30px;
  position: relative;
  top: 1px;
  color: #034072; }

.fh5co-advantages-outer .fh5co-advantages-grid-columns .col-sm-4 .grid-title {
  float: left;
  font-size: 20px;
  font-weight: 600; }

.fh5co-advantages-outer .fh5co-advantages-grid-columns .col-sm-4 .grid-desc {
  float: right;
  font-size: 13px;
  padding-right: 7%;
  width: 70%;
  color: #c7c7c7;
  margin-top: 10px;
  line-height: 1.87em; }

.fh5co-slider-inner {
  margin-top: 100px;
  margin-bottom: 100px; }

/* ==========================================================================================================
										FEATURES
   ========================================================================================================== */
/*
.curved-bg-div {
  background: url("../img/curved-bgg.jpg") no-repeat;
  background-position: 0px 0px;
  background-size: cover;
  width: 100%;
  height: 300px;
}
*/
#fh5co-features {
  padding-top: 120px; }

.fh5co-features-outer {
  width: 100%;
  height: auto;
  margin-top: 0px; }

.fh5co-features-outer .col-sm-6 {
  margin-top: 0px; }

.fh5co-features-outer .col-sm-6 img {
  height: 550px; }

.fh5co-features-outer .sm-6-content {
  margin-top: 20px;
  position: relative; }

.fh5co-features-outer h1 {
  color: #034071;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px; }

.fh5co-features-outer .sm-6-content p {
  color: #111;
  font-weight: 500;
  font-size: 14.5px;
  line-height: 1.8em;
  width: 450px; }

.fh5co-features-outer .col-sm-6 .col-sm-image-container {
  position: relative;
  width: 300px; }

.fh5co-features-outer .col-sm-6 .span-new {
  color: #fff;
  background: #fcec64;
  padding: 18px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 30px;
  height: 35px;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  font-weight: 300;
  letter-spacing: 0.08rem;
  right: 0;
  top: 140px; }

.fh5co-features-outer .col-sm-6 .span-free {
  color: #fff;
  background: #043f72;
  padding: 18px;
  width: 90px;
  display: flex;
  line-height: 30px;
  height: 90px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  left: -35px;
  bottom: 120px;
  font-weight: 300;
  letter-spacing: 0.05rem;
  align-items: center;
  justify-content: center; }

.fh5co-features-outer .col-sm-6 .span-data {
  color: #7e8c91;
  background: #b8faee;
  padding: 20px;
  width: 40px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  letter-spacing: 1px;
  box-sizing: initial;
  position: absolute;
  top: 140px;
  right: -2px;
  font-weight: 700; }

.fh5co-features-outer .col-sm-6 .span-percent {
  color: #fff;
  background: #6ca3ff;
  padding: 18px;
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  left: -35px;
  bottom: -430px;
  font-weight: 700; }

.fh5co-features-outer .col-sm-6 .circle {
  color: #c3cfe5;
  border: 1px solid #ededed;
  background: #fff;
  padding: 10px;
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  font-weight: 600;
  box-shadow: 0 0 0 5px #f9f9f9; }

.fh5co-features-outer .col-sm-6 .circle-first {
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  margin-left: 0px;
  font-weight: 600; }

.fh5co-features-outer .col-sm-6 .circle-middle {
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  margin-left: 50px;
  font-weight: 600; }

.fh5co-features-outer .col-sm-6 .circle-last {
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  margin-left: 100px;
  font-weight: 600; }

/* ==========================================================================================================
										REVIEWS
   ========================================================================================================== */
.fh5co-reviews-outer {
  width: 100%;
  height: 400px;
  padding: 70px;
  margin-top: 100px; }

.fh5co-reviews-outer .fh5co-reviews-inner {
  margin-top: 100px; }

.fh5co-reviews-outer > h1 {
  color: #034072;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center; }

.fh5co-reviews-outer > small {
  text-align: center;
  display: block; }

.fh5co-reviews-outer .testimonial-desc {
  clear: both;
  padding-top: 30px;
  font-weight: 500; }

.fh5co-reviews-outer .testimonial-2 {
  margin-left: 50px; }

/* ==========================================================================================================
										BOTTOM
   ========================================================================================================== */
.fh5co-bottom-outer {
  width: 100%;
  height: 572px;
  background: url("../img/download-section-bg.jpg") no-repeat center;
  margin-top: 120px;
  overflow-x: hidden; }

.fh5co-bottom-outer .fh5co-bottom-inner {
  margin-top: 270px; }

.fh5co-bottom-outer .fh5co-bottom-inner .col-sm-6 h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 30px; }

.fh5co-bottom-outer .fh5co-bottom-inner .col-sm-6 p {
  width: 350px;
  color: #fff;
  font-size: 14.5px;
  line-height: 1.85em; }

.fh5co-bottom-outer .fh5co-bottom-inner .col-sm-6 img {
  margin-top: 25px; }

   /* ==========================================================================================================
										SUB FOOTER
   ========================================================================================================== */
.img-float-left {
  float: left; }

.img-float-right {
  float: right; }

.footer-outer {
  width: 100%;
  padding: 50px;
  height: 250px;
  background: #2e3149;
  overflow: hidden; }

.footer-outer .footer-inner {
  width: 100%;
  height: inherit; }

.footer-outer .social-icons-footer i {
  margin: 15px;
  font-size: 20px; }

.footer-outer .social-icons-footer a:hover i {
  opacity: .6;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }

.footer-outer .footer-three-grid {
  width: 1140px;
  margin: 0 auto;
  height: 50px;
  text-align: center; }

.footer-outer .column-1-3 {
  width: 20%;
  float: left;
  height: 50px; }

.footer-outer .column-1-3 h1 {
  font-size: 38px;
  letter-spacing: 3px;
  position: relative;
  top: -5px;
  font-weight: 600;
  color: #fff; }

.footer-outer .column-2-3 {
  width: 60%;
  float: left;
  height: 50px; }

.footer-outer .column-3-3 {
  width: 20%;
  float: left;
  height: 50px; }

.footer-outer .column-3-3 a {
  color: #b5b5c8; }

.footer-outer .column-3-3 .social-icons-header a:hover {
  color: #fff;
  opacity: 1;
  -webkit-transition: color .2s ease;
  transition: color .2s ease; }

.footer-outer .footer-nav ul {
  list-style: none;
  text-align: center; }

.footer-outer .footer-nav ul li {
  display: inline-block;
  line-height: 50px;
  color: #b5b5c8;
  margin: 0 30px;
  font-size: 14px; }

.footer-outer .footer-nav ul li:hover {
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out; }

.footer-outer .footer-nav ul .active {
  color: #fff; }

.footer-outer .footer-nav ul li a {
  color: #fff;
  text-decoration: none; }

.footer-outer .border-bottom-footer {
  height: 1px;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #434769;
  display: block;
  margin-top: 50px; }

.footer-outer .copyright {
  color: #565b87;
  text-align: center;
  font-size: 13px;
  padding: 40px 0; }

.google-play-btn {
  margin-left: 10px; }

/*# sourceMappingURL=fh5co_style.css.map */
